.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;

    .header_logo {
        color: var(--secondary);
    }

    .nav {
        border-radius: 0 0 10px 10px;
        padding: 10px 2%;
        gap: 10px;
        backdrop-filter: blur(20px);
        background-color: #ffffff1e;
    }

    .nav_links {
        gap: 10px;
        text-align: center;

        .nav_link {
            padding: 8px 10px;
            background-color: transparent;
            border-radius: 5px;
            font-weight: bold;
            font-size: 0.9em;
            color: var(--teal);
            opacity: 0.7;

            &:hover {
                color: var(--light);
                opacity: 1;
            }
        }

        .active_link {
            color: var(--light);
            opacity: 1;
        }

        .moving_link {
            border-radius: 5px;
            background: linear-gradient(45deg, var(--teal), var(--blue)) !important;
            width: 100%;
            max-width: 0;
            top: 0;
            left: 0;
            transform: translateX(0);
            transition: transform 0.3s ease;
            pointer-events: none;
        }

        &:hover {
            
            .moving_link {
                opacity: 1;
            }
        }
    }

    .search {
        overflow: hidden;
        border-color: var(--blue);
        background: linear-gradient(-45deg, var(--teal), var(--blue));
        padding: 2px;
        border-radius: 3px;
        border:none;

        input {
            background: transparent;
            border: none;
            outline: none;
            max-width: 0px;
            color: var(--light);
            transition: max-width 0.5s ease, padding-left, padding-right 0.3s ease;
            background-color: var(--dark);
            border-radius: 2px;
            
            &::placeholder {
                color: var(--gray);
            }

            &:focus {
                max-width: 200px;
                padding: 0 10px;
            }
        }

        .search_btn {
            border: none;
            outline: none;
            padding: 7px 10px;
            color: var(--light);
            font-size: 1.2em;

            i {
                top: 2px;
                position: relative;
            }
        }
    }

    .search_profile {
        gap: 15px;
    }

    .profile_img {
        width: 40px;
        aspect-ratio: 1;
        border-radius: 5px;
        background-color: var(--soft-teal);
    }
}

.notification {
    margin: 15px auto 5px;
    color: var(--yellow);
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-weight: bold;
    transition: max-height 1s ease, margin-top, margin-bottom 0.3s ease;

    .match_scores {
        padding: 10px;
        animation-name: moveright;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        .match_score {
            min-width: 200px;
            font-size: 0.8em;
        }
    }
}


.footer {
    background-color: rgba(0, 0, 0, 0.353);
    font-size: 0.8em;
    gap: 10px;
    padding: 20px;
    text-align: center;
    
    p {
        color: var(--cyan)
    }
}


@keyframes moveright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}