.home {
    flex: 3;
    min-height: 100vh;

    .matches {
        padding: 0 !important;

        button {
            margin: 0;
        }
    }
}

.match_list {
    padding: 10px 15px;
    font-size: 0.9em;
    border-radius: 4px;
    background-color: var(--dark);
    color: var(--blue);
    border-color: transparent;

    .vs {
        color: var(--light);
        opacity: 0.7;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--gray-dark);
        padding: 10px;
    }

    .match_time {
        border-radius: 0 3px 3px 0;
        background-color: var(--yellow);
        color: var(--dark);
        padding: 10px;
    }

    .score_line {
        border-radius: 3px 0 0 3px;
        background-color: var(--dark);
        padding: 5px 10px;
        gap: 10px;

        .v-line {
            background-color: var(--gray);
        }
    }

    .ht_score_line {
        color: var(--light);
        opacity: 0.5;
        font-size: 1.3em;
        font-weight: 300;
    }

    .ft_score_line {
        color: var(--light);
        font-size: 1.5em;
        padding: 0 10px;
        font-weight: normal;
    }

    span {
        font-size: 0.7em;
        color: var(--pink)
    }

    &:hover {
        color: var(--blue);
        border-color: var(--blue);
    }

    .time_info {
        gap: 5px;
    }

    .time_info, .match_outcome {
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
        background-color: var(--gray-dark);
        padding: 10px;
        min-width: 80px;
    }
}

.sidebar {
    margin: 10px;

    .widgets_container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: auto;
        grid-gap: 15px;

        .widget {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
    }

    .match_list {
        margin-top: 10px;
        padding: 10px;
        gap: 10px;
    }
}

.teams_info {
    gap: 10px;
}

.match_time {
    grid-area: score;
}

.team1 {
    grid-area: name1;
}

.team2 {
    grid-area: name2;
}

.widget.match {

    .match_list {
        padding: 20px;
        border-radius: 10px;
    }
}

.league {
    color: var(--light-teal);

    span {
        color: var(--blue)
    }
}

.team {
    text-align: center;
    max-width: 100px;

    .team_img {
        aspect-ratio: 1;
        margin-bottom: 15px;
        min-width: 50px;
    }

    .team_name {
        font-size: 0.8em;
        word-break: break-all;
        color: var(--light)
    }
}

.chances {
    overflow: hidden;
    text-align: center;
        
    p {
        color: var(--blue);
        margin-top: 10px;
        font-size: 0.8em;
    }

    .prob_line {
        height: 7px;
    }

    .first {
        background-color: var(--teal);
    }

    .draw {
        background-color: var(--gray);
    }

    .second {
        background-color: var(--red);
    }
}

.widget {
    background-color: var(--gray-dark);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    background-color: #0000002c;
    overflow: hidden;
    padding: 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
}

.navigate-btn {
    max-width: 10%;
    font-size: 2em;
    color: var(--light);
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    opacity: 0.1;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }
}

.right {
    right: 0;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3));
}

.left {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent);
}

.matches {
    min-height: 50vh;
}

.title {
    color: var(--light);
    font-size: 0.9em;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-bottom: 0;font-family: 'Abel', sans-serif;
}

.content-title {
    color: var(--light);
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;font-family: 'Abel', sans-serif;
}

.live_matches {
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-content: center;
    color: var(--yellow);

    .live_match {
        border-radius: 4px;
        font-size: 0.8em;
        overflow: hidden;
    }

    .match_det {
        display: grid;
        grid-template-columns: 40% 1fr 40%;
        grid-template-rows: 100%;
        grid-gap: 5px;
        justify-items: center;
        align-items: center;

        .progress {
            top: 0;
            right: 0;
            height: 100%;
            background: var(--yellow);
            opacity: 0.2;
            z-index: 0;
        }
    }

    .team_name {
        color: var(--yellow);
        font-size: 0.9em;
    }

    .time {
        color: var(--dark);
        background-color: var(--yellow);
        text-align: center;
        max-width: 40px;
        padding: 10px;
        font-weight: bold;
    }

    .score_line {
        font-size: 1.2em;
        color: var(--light);
    }
}

.league_titles {
    margin-bottom: -1px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.league_list {
    float: right;
    border-color: var(--gray-dark);
    border-width: 2px;

    .no_padding {
        padding: 0 !important;
    }

    .league_title {
        top: 0;
        right: 100%;
        background-color: var(--dark);
        padding: 15px;
        z-index: 10;
        border-left: 2px solid var(--gray-dark);
        color: var(--gray);
        text-align: center;
        word-break: break-all;

        &.no-right-border {
            border-left: none;
        }

        &:hover, &.active {
            border-bottom-color: transparent;
            background-color: var(--gray-dark);
            color: var(--light)
        }
    }
}

.league_matches {
    background-color: var(--gray-dark);
    padding: 2%;
    gap: 15px;
    border-radius: 0 5px 5px 5px;
    color: var(--pink);

    .match_list {
        margin: 0;
        padding: 10px;
        min-width: 40%;
        gap: 15px;
    }
}

.top_leagues {
    padding: 3%;
}

.front {
    z-index: 1;
}