.fetch_result {
  max-width: 300px;
  aspect-ratio: 1;
  margin: auto;
  color: var(--light-pink);
}

.fetch_result h3 {
  color: var(--gray-dark);
  text-align: center;
}

.no_match {
  gap: 50px;
}

.empty .ball {
  top: 43%;
  right: 12%;
  max-width: 100px;
}

.empty .ball:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(28, 20, 26, 0.9)));
  background: linear-gradient(90deg, transparent, rgba(28, 20, 26, 0.9) 50%);
  -webkit-animation: move-around2 1.5s infinite;
          animation: move-around2 1.5s infinite;
}

.empty .torch {
  -webkit-animation: move-around 1.5s infinite ease;
          animation: move-around 1.5s infinite ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  position: relative;
  z-index: 1;
}

@-webkit-keyframes move-around {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes move-around {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes move-around2 {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes move-around2 {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

.loader {
  overflow: hidden;
}

.loader h3 {
  margin-top: 20px;
}

.loader .ball {
  -webkit-animation: rotate-ball 3s infinite linear;
          animation: rotate-ball 3s infinite linear;
  max-width: 150px;
}

.loader .ball img {
  position: relative;
  left: 2px;
  top: -2px;
}

.loader .line {
  bottom: 42%;
  width: 35%;
  height: 1px;
  background-color: var(--light-pink);
  opacity: 0.7;
}

.loader .line.line1 {
  left: 0;
}

.loader .line.line2 {
  right: 0;
}

.loader .moving_stone {
  background-color: var(--light-pink);
  right: -15%;
  opacity: 0.8;
  -webkit-animation: move 4s infinite linear;
          animation: move 4s infinite linear;
}

.loader .stone1 {
  width: 8px;
  height: 3px;
}

.loader .stone2 {
  width: 5px;
  height: 3px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader .stone3 {
  width: 10px;
  height: 3px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@-webkit-keyframes rotate-ball {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate-ball {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.btn {
  outline: none;
  border-radius: 3px;
  background-color: var(--gray-dark);
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  color: var(--light);
}
/*# sourceMappingURL=fetchresults.css.map */